* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #222;
    color: #aaa;
}

h2 {
    text-align: center;
}

.container {
    padding: 0 30%;
}

.form_row {
    height: 40px;
    margin-bottom: 5px;
}

.form_row label {
    width: 30%;
    height: 100%;
    display: inline-block;
}

.form_row input {
    width: 69%;
    height: 100%;
    display: inline-block;
}

.form_response {
    display: none;
}